In [2]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.32-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Downloading SQLAlchemy-2.0.32-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 33.1 MB/s eta 0:00:0000:0100:01
Downloading greenlet-3.0.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (616 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 616.0/616.0 kB 16.6 MB/s eta 0:00:0000:01
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.32

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [5]:
!pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.4.tar.gz (90 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.4/90.4 kB 2.6 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (pyproject.toml) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.2.4-cp310-cp310-linux_x86_64.whl size=132264 sha256=e4c14fbc89959a36dd545fbb513ac48c11a5cc8e07477ea6f63d2fbe2d5bbe4b
  Stored in directory: /home/codespace/.cache/pip/wheels/ac/96/ac/2a4d8cb58a4d95de1dffc3f8b0ea42e0e5b63ab97640edbda3
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.4

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [3]:
import pandas as pd
import sqlalchemy as db

In [6]:
engine = db.create_engine("mysql://root:root@127.0.0.0:3310/retail_db")
con = engine.connect()

In [12]:
df_customers = pd.read_sql_table('customers',engine)
df_orders = pd.read_sql_table('orders',engine)
df_order_items = pd.read_sql_table('order_items',engine)
df_products = pd.read_sql_table('products',engine)
df_categories = pd.read_sql_table('categories',engine)
df_departments = pd.read_sql_table('departments',engine)

In [16]:
df_customers['customer_city'].value_counts()

customer_city
Caguas           4584
Chicago           274
Brooklyn          225
Los Angeles       224
New York          120
                 ...
Hempstead           3
Freehold            2
Ponce               2
National City       2
Gwynn Oak           2
Name: count, Length: 562, dtype: int64

In [17]:
df_categories.groupby('category_department_id')['category_id'].count()

category_department_id
2     8
3     8
4     6
5     7
6    12
7     7
8    10
Name: category_id, dtype: int64

In [19]:
distribucion = df_categories.merge(df_departments,left_on='category_department_id',right_on='department_id')
distribucion['department_name'].value_counts()

department_name
Outdoors    12
Fitness      8
Footwear     8
Golf         7
Fan Shop     7
Apparel      6
Name: count, dtype: int64

In [30]:
#producto mas caro
#producto mas barato
print(df_products['product_price'].max())
print(df_products.loc[df_products['product_price'].idxmax()])
print(df_products.loc[df_products['product_price'].idxmin()])

1999.99
product_id                                                           208
product_category_id                                                   10
product_name                                         SOLE E35 Elliptical
product_description
product_price                                                    1999.99
product_image          http://images.acmesports.sports/SOLE+E35+Ellip...
Name: 207, dtype: object
product_id                                                            38
product_category_id                                                    3
product_name               Nike Men's Hypervenom Phantom Premium FG Socc
product_description
product_price                                                        0.0
product_image          http://images.acmesports.sports/Nike+Men%27s+H...
Name: 37, dtype: object

In [ ]:
#cuales son los productos mas comprados por cada cliente
#el total gastado por cada cliente 
#categorias con mas ventas
#promedio de ingreso por dia
#promedio de ingreso por mes

In [43]:
cliente_producto = df_products.merge(df_order_items,left_on='product_id',right_on='order_item_product_id')
cliente_producto.groupby('product_name')['product_name'].count().sort_values(ascending=False)

product_name
Perfect Fitness Perfect Rip Deck                 24515
Nike Men's CJ Elite 2 TD Football Cleat          22246
Nike Men's Dri-FIT Victory Golf Polo             21035
O'Brien Men's Neoprene Life Vest                 19298
Field & Stream Sportsman 16 Gun Fire Safe        17325
                                                 ...
Stiga Master Series ST3100 Competition Indoor       27
SOLE E35 Elliptical                                 15
Bushnell Pro X7 Jolt Slope Rangefinder              11
Bowflex SelectTech 1090 Dumbbells                   10
SOLE E25 Elliptical                                 10
Name: product_name, Length: 100, dtype: int64

In [49]:
#cuales son los productos mas comprados por cada cliente
productos_x_cliente = df_order_items.merge(df_orders,left_on='order_item_order_id',right_on='order_id')
productos_x_cliente = productos_x_cliente.groupby(['order_customer_id','order_item_product_id'])['order_item_quantity'].sum().reset_index()
productos_x_cliente.loc[productos_x_cliente.groupby('order_customer_id')['order_item_quantity'].idxmax()]
3

       order_customer_id  order_item_product_id  order_item_quantity
0                      1                    191                    5
6                      2                   1014                    7
10                     3                    365                   13
17                     4                    365                   19
27                     5                   1014                    6
...                  ...                    ...                  ...
92839              12431                    502                   22
92855              12432                   1014                   19
92859              12433                    627                   11
92866              12434                    502                   10
92870              12435                    191                    5

[12331 rows x 3 columns]

In [53]:
#promedio de ingreso por dia
df_promedio = df_orders.merge(df_order_items,left_on='order_id',right_on='order_item_order_id')
df_promedio[['order_id','order_date','order_item_subtotal']].drop_duplicates()\
.groupby('order_date').sum()['order_item_subtotal'] / df_promedio[['order_date','order_item_order_id']].drop_duplicates()\
.groupby('order_date').count()['order_item_order_id']

order_date
2013-07-25    548.313017
2013-07-26    547.643219
2013-07-27    531.000286
2013-07-28    519.895443
2013-07-29    590.545833
                 ...
2014-07-20    539.775950
2014-07-21    554.769455
2014-07-22    572.947692
2014-07-23    601.890145
2014-07-24    550.647152
Length: 364, dtype: float64